<div class="question_index">
	<h2>Most Recent Questions</h2>
</div>
	<ul id="front_page_questions">
	  <% @questions.each do |question|%>
		  <div class="question_index">
		    <li class="q_title"><%= link_to question.title, question_path(question) %></li><br><p><%= link_to question.content, question_path(question) %></p>
		  </div>
	  <%end%>
	</ul>
