body{
	margin:0px;
	background-image: url('/assets/logo2.jpg');
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center; 
	font-family: 'Source Sans Pro', sans-serif;
}

ul {
	list-style: none;
}

li {
	text-decoration: none;
}

li a {
	text-decoration:none;
	color: black;
}


/* --------------NAV-------------*/
nav {
	width: 100%;
	height: 80px;
	background-color: black;
	position: fixed;
	margin-top: -24px;
}

#logodbc {
	float:left;
	margin-top: 10px;
}

.dbcoverflow {
	background:url('/assets/dbcoverflow_logo.jpg');
	width:400px;
	height:68px;
}

nav li {
	display: inline-block;
	margin: 32px 8px;
	float:right;
	padding-right: 16px;
}

.nav_links a {
	color: #F0F0F0;
}

#search_form_box{
	border:none;
	width:180px;
	display: inline;
}

#search_form {
	border:none;
	float: right;
}


/*---------------USERS AND SESSIONS---------*/
#error_message {
	color: red;
}

#signin_form{
	width: 300px;
	margin: auto;
}

#signin{
	text-align: center;
}

#new_user_form {
	width:30%;
	margin: 0px auto;
}

#new_user_form h2 {
	text-align: center;
	font-size: 25px;
	font-family: Georgia;
}

/*---------------GROUP: ANSWERS, QUESTIONS, USERS-------------*/

form {
	width: 70%;
	border: dotted black 1px;
	padding: 12px;
	margin:auto;
}

.posted_by{
	list-style: none;
	border-bottom: dotted black 1px;
	font-style: italic;
}

/*---------------QUESTIONS---------*/

#question_show_page_container {
	width: 650px;
	margin: auto;
}

.question_index {
	width:70%;
	margin: 0px auto;
	border-bottom: dotted black 1px;
}

.question_index h1 {
	padding-top: 10%;
}

.question_index a {
	text-decoration: none;
	color:black;
}

.q_title {
	font-size: 30px;
}

#new_question{

	margin:20px auto;
	width: 300px;
}

.new_question{
	
	margin:30px auto;
	width: 40%;
}

#edit_question_form{
	margin:20px auto;
}


.header_for_edit_form{
	text-align: center;
}

/*-------------ANSWERS---------------------*/


.answer_div{
	padding:15px;
}

#answer_form{
	border: dotted lightgrey 1px;
	padding: 12px;
	border-radius: .75em;
}




/*-------------COMMENTS----------------------*/
.comments_each{
	background-color: lightgrey;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 0.75em;
}

/*---------------CATEGORIES-------------*/
#category_listed {
	width:50%;
	margin: 0px auto;
}



/* -----------PROFILE--------------*/
.gravatar {
 	width:30%;
 	height:30%;
 	border: dotted black 1px;
 }

#profile {
	margin: 30px auto;
	width: 500px;
	border: dotted grey 1px;
	padding: 12px;
	border-radius: .75em;
	background-color: white;
	box-shadow: inset 0 0 100px #000;
}

#edit_form_for_profile {
	width:30%;
	margin:10px auto;
}

#edit_profile_header {
	margin:10 auto;
	width:200px;
}

.edit_button_profile {
	-moz-box-shadow:inset -3px 17px 20px -4px #bee2f9;
	-webkit-box-shadow:inset -3px 17px 20px -4px #bee2f9;
	box-shadow:inset -3px 17px 20px -4px #bee2f9;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf) );
	background:-moz-linear-gradient( center top, #63b8ee 5%, #468ccf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
	background-color:#63b8ee;
	-webkit-border-top-left-radius:11px;
	-moz-border-radius-topleft:11px;
	border-top-left-radius:11px;
	-webkit-border-top-right-radius:11px;
	-moz-border-radius-topright:11px;
	border-top-right-radius:11px;
	-webkit-border-bottom-right-radius:11px;
	-moz-border-radius-bottomright:11px;
	border-bottom-right-radius:11px;
	-webkit-border-bottom-left-radius:11px;
	-moz-border-radius-bottomleft:11px;
	border-bottom-left-radius:11px;
	text-indent:-2px;
	border:2px solid #3866a3;
	display:inline-block;
	color:#14396a;
	font-family:Verdana;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:33px;
	line-height:33px;
	width:108px;
	text-decoration:none;
	text-align:center;
	text-shadow:-1px 0px 0px #7cacde;
}

.edit_button_profile:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee) );
	background:-moz-linear-gradient( center top, #468ccf 5%, #63b8ee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee');
	background-color:#468ccf;
}

.edit_button_profile:active {
	position:relative;
	top:1px;
}

#edit_profile {
	text-decoration: none;
	color:black;
}

#edit_profile:hover {
	color:white;
	text-transform: lowercase;
}

/*=====================================*/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {


/* Styles */
}

@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {

	/*nav{
		width: 98%;
		height: 98%;
	}*/
	/*html{
		width: %;
	}*/
	
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media (max-width: 480px) {

/*	html, body {
		color: red;
	}*/

	nav {
		position: relative;
	}

	.dbcoverflow {
		background-size: 240px 60px;
		background-repeat: no-repeat;
	}

	nav li {
		/*display: block;*/
		margin: 32px 8px;
		float: left;
		padding-right: 14px;
		font-size: .8em;
	}

	.nav_links a {
		color: red;
		margin-left: -20px;
		/*display: block;*/
	}

	#search_form_box{
		border:none;
		width:180px;
		display: none;
	}

	#search_form {
		border:none;
		float: right;
	}

	.question_index {
		width:100%;
		margin: 0px 0px 0px -20px;
		border-bottom: dotted black 1px;
		font-size: 0.9em;
	}

	.question_index h1 {
		padding-top: 10%;
		margin-left: 30px;
		font-size: 1.2em;
	}

	.question_index a {
		text-decoration: none;
		color:black;
		font-size: 0.9em;
	}

	.q_title {
		font-size: 20px;
	}

	#new_question{

		margin: 20px auto;
		width: 50%px;
	}

	.new_question{
		
		margin: 30px auto;
		width: 40%;
	}

	#edit_question_form{
		margin:20px auto;
	}


	.header_for_edit_form{
		text-align: center;
	}
}









