#error_message {
	color: red;

}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
	margin:0px;
	background-image: url('/assets/logo2.jpg');
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center; 
}

.dbcoverflow{
	float:left;
	margin-left: 1.0em;
	text-decoration: none;
	margin-top: 0.65em;
	font-size: 3em;
	font-family: Arial;
}

#title{
	color: white;
	text-decoration: none;
}

nav li {
	display: inline-block;
	margin-top: 60px;
	float:right;
	padding-right: 10px;
}

nav ul{
	padding-right: 13px;
}

nav{
	width: 100%;
	height: 80px;
	background-color: black;
}


li {
	text-decoration: none;
}

body li{
	text-decoration:none;
}

body li a{
	text-decoration:none;
	color: black;
}

ul{
	list-style: none;
}

.nav_link a{
	color: white;
}

#new_user_form{
	width:30%;
	margin: 0px auto;
}

#new_user_form h2{
	text-align: center;
	font-size: 25px;
	font-family: Georgia;
}

form{
	width: 300px;
	border: dotted black 1px;
	padding: 12px;
}

#category_listed{
	width:50%;
	margin: 0px auto;
}

.question_index{
	padding: 10px;
	width:70%;
	margin: 0px auto;
	border-bottom: dotted black 1px;
}
.question_index a{
	text-decoration: none;
	color:black;
}

.q_title{
	font-size: 30px;
}

#signin_form{
	width: 300px;
	margin: auto;
}

#signin{
	text-align: center;
}

#question_show_page_container{
	width: 650px;
	margin: auto;
}

.comments_each{
	background-color: lightgrey;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 0.75em;
}

.question_div{
	border-bottom: dotted black 1px;
}

.answer_div{
	padding:15px;
}

.posted_by{
	list-style: none;
	border-bottom: dotted black 1px;
	font-style: italic;
}


#answer_form{
	border: dotted lightgrey 1px;
	padding: 12px;
	border-radius: .75em;
}

#new_question{

	margin:20px auto;
	width: 600px;
}

.new_question{
	
	margin:30px auto;
	width: 600px;
}

#edit_question_form{
	margin:20px auto;
}

.header_for_edit_form{
	text-align: center;
}

#profile{
	margin: 30px auto;
	width: 500px;
	border: dotted grey 1px;
	padding: 12px;
	border-radius: .75em;
	background-color: white;
	box-shadow: inset 0 0 100px #000;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {


/* Styles */
}

@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {

	/*nav{
		width: 98%;
		height: 98%;
	}*/
	/*html{
		width: %;
	}*/
	
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media (max-width: 640px)

 {

	html, body{
		width: 100%;
		height:100%;


	}

	nav{
		width:100%;

	}

	nav li {
	display: inline-block;
	/*margin-top: 60px;*/
	float:right;
	/*padding-right: 10px;*/
}

nav ul{
	/*padding-right: 13px;*/
}

.dbcoverflow{
	float:left;
	/*margin-left: 1.0em;*/
	text-decoration: none;
	/*margin-top: 0.65em;*/
	font-size: .075em;
	font-family: Arial;
}

nav li {
	display: inline-block;
	/*margin-top: 60px;*/
	float:right;
	/*padding-right: 0px;*/
}

nav ul{
	/*padding-right: 13px;*/
}

.question_index{
	padding: 05%;
	/*padding-right: 2em;*/
	width:90%;
	margin: auto;
	border-bottom: dotted black 1px;
}
/*.question_index a{
	text-decoration: none;
	color:black;
}*/

#new_user_form{
	width:100%;
	margin: 0px auto;
}

/* Styles */
}









